<div class="card mb-3">
  <div class="card-header">
    <h3>Item Details</h3>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      {% for note in object.notes %}
        {% if note.type == 'physdesc' %}
          {% include note.html %}
        {% endif %}
      {% endfor %}
      {% for note in object.notes %}
        {% if note.type == 'materialspec' %}
          {% include note.html %}
        {% endif %}
      {% endfor %}
      {% for note in object.notes %}
        {% if note.type == 'phystech' %}
          {% include note.html %}
        {% endif %}
      {% endfor %}
      {% for extent in object.extents %}
        {% include extent.html %}
      {% endfor %}
    </ul>
  </div>
</div>
