{% assign current = page.url | split: '/' %}

<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
  <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a>
    <div class="navbar-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseContent" aria-controls="collapseContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapseContent">
      <ul class="navbar-nav mr-auto">
        <li{% if current[1] == 'audio' %} class='nav-item active'{% else %} class='nav-item'{% endif %}><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/audio/">audio</a></li>
        <li{% if current[1] == 'moving-image' %} class='nav-item active'{% else %} class='nav-item'{% endif %}><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/moving-image/">moving image</a></li>
        <li{% if current[1] == 'catalogued-reports' %} class='nav-item active'{% else %} class='nav-item'{% endif %}><a class="nav-link" href="{{ site.url }}{{ site.baseurl }}/catalogued-reports/">catalogued reports</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
