<!-- JQuery -->
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/jquery-2.2.0.min.js"></script>
<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<!-- Lunr.js for search -->
<script type="text/javascript" src="//unpkg.com/lunr/lunr.js"></script>
<script defer type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/lunr-feed.js?3"></script>
<!-- Mediaelement for playing AV assets -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.5/mediaelement-and-player.min.js"></script>
<!-- custom AV events and google analytics -->
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/av.js?2"></script>
