<!-- JQuery -->
<script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
<!-- Popper.js -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script> -->
<!-- Bootstrap -->
<!-- <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script> -->
<!-- Lunr.js for search -->
<script type="text/javascript" src="//unpkg.com/lunr/lunr.js"></script>
<script defer type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/lunr-feed.js"></script>
<!-- List.js for sorting titles on list pages -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<!-- Mediaelement for playing AV assets -->
<script src="{{ site.url }}{{ site.baseurl }}/js/mediaelement/mediaelement-and-player.min.js"></script>
<!-- custom AV events and google analytics -->
<!-- <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/av.js?2"></script> -->

<!-- Initialize list.js to sort by title -->
<script>
  if($('#list').length) {
    var options = { valueNames: [ 'title', 'av-number' ] };
    var reportList = new List('list', options);
    reportList.sort("title", {
        order: "asc"
    });
    $("#list .table").animate({opacity: 1}, 200);
  }
  const player = new MediaElementPlayer('asset', {
    iconSprite: '/js/mediaelement/mejs-controls.svg',
  })
</script>
