---
layout: default
---

<div class="row">
  <div class="col-md-8 offset-md-2">

    <div class="page-header">
      <h1 class="text-center">{{ site.title }}</h1>
      <h4 class="text-center">{{ site.description }}</h4>
    </div>

    <div class="row mt-4">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center">Audio 🔊</h2>
            <div class="text-center">
              {% include search.html type='audio' placeholder='Enter a title or AV number' %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center">Moving Images 📽️</h2>
            <div class="text-center">
              {% include search.html type='moving-image' placeholder='Enter a title or AV number' %}
            </div>
            <!-- <a class="btn btn-primary" href="{{ site.url }}{{ site.baseurl }}/moving-image">Browse moving images</a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center">Ford Foundation Catalogued Reports 📋</h2>
            <div class="text-center col-6 offset-3">
              {% include search.html type='catalogued-reports' placeholder='Enter a report title or six-digit report number' %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-12">
        <p>The digitized content provided through this portal is intended for education and research purposes. The current copyright status of these materials has been described, to the best of our knowledge, in the associated archival descriptions. It is
          the user’s responsibility to abide by all applicable provisions of the United States copyright law.</p>
      </div>
    </div>

  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "{{ site.instytype }}",
  {% if site.instyID %}
  "@id": "{{ site.instyid }}",
  {% endif %}
  "name": "{{ site.instyname }}",
  "url": "{{ site.instyurl }}",
  "image": "{{ site.instyimage }}",
  {% if site.instySameAs %}
  "sameAs": "{{ site.instysameas }}",
  {% endif %}
  "priceRange": 0,
  {% if site.instyAltName %}
  "alternateName": "{{ site.instyaltname }}",
  {% endif %}
  "telephone": "{{ site.instyphone }}",
  "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ site.instystreetaddress }}",
      "addressLocality": "{{ site.instycity }}",
      "addressRegion": "{{ site.instystate }}",
      "postalCode": "{{ site.instyzipcode }}"
   {% if site.parentOrg %}
   },
   "parentOrganization": {
      "@type": "{{ site.parenttype }}",
      {% if site.parentID %}
      "@id": "{{ site.parentid }}",
      {% endif %}
      "name": "{{ site.parentname }}",
      {% if site.parentSameAs %}
      "sameAs": "{{ site.parentsameas }}",
      {% endif %}
      "url": "{{ site.parenturl }}"
    }
}
  {% else  %}
   }
}
  {% endif %}
</script>
