---
layout: default
---

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h1 class="text-center">{{ site.title }}</h1>
      <h4 class="text-center">{{ site.description }}</h4>
    </div>
    <div class="col-sm-6">
      <div class="well well-lg">
        <h2>Audio &#128266;</h2>
        <p>Stream access copies of select archival audio material.</p>
        <a class="btn btn-primary" href="{{ site.url }}{{ site.baseurl }}/audio">Browse audio</a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="well well-lg">
        <h2>Moving Images &#128253;</h2>
        <p>Stream access copies of select moving images.</p>
        <a class="btn btn-primary" href="{{ site.url }}{{ site.baseurl }}/moving-image">Browse moving images</a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="well well-lg">
        <h2 class="text-center">Ford Foundation Catalogued Reports &#128203;</h2>
        <div class="row">
          <form action="/catalogued-reports" method="get" style="margin-top:1.5em;" role="search">
            <div class="row">
              <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group input-group-lg">
                  <input id="query" type="text" name="q" class="form-control" placeholder="Enter a report title or six-digit report number" />
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <p>The digitized content provided through this portal is intended for education and research purposes. The current copyright status of these materials has been described, to the best of our knowledge, in the associated archival descriptions. It is
        the user’s responsibility to abide by all applicable provisions of the United States copyright law.</p>
    </div>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "{{ site.instytype }}",
  {% if site.instyID %}
  "@id": "{{ site.instyid }}",
  {% endif %}
  "name": "{{ site.instyname }}",
  "url": "{{ site.instyurl }}",
  "image": "{{ site.instyimage }}",
  {% if site.instySameAs %}
  "sameAs": "{{ site.instysameas }}",
  {% endif %}
  "priceRange": 0,
  {% if site.instyAltName %}
  "alternateName": "{{ site.instyaltname }}",
  {% endif %}
  "telephone": "{{ site.instyphone }}",
  "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ site.instystreetaddress }}",
      "addressLocality": "{{ site.instycity }}",
      "addressRegion": "{{ site.instystate }}",
      "postalCode": "{{ site.instyzipcode }}"
   {% if site.parentOrg %}
   },
   "parentOrganization": {
      "@type": "{{ site.parenttype }}",
      {% if site.parentID %}
      "@id": "{{ site.parentid }}",
      {% endif %}
      "name": "{{ site.parentname }}",
      {% if site.parentSameAs %}
      "sameAs": "{{ site.parentsameas }}",
      {% endif %}
      "url": "{{ site.parenturl }}"
    }
}
  {% else  %}
   }
}
  {% endif %}
</script>
