interactions:
- request:
    body: password=admin&expiring=False
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: http://sandbox.archivesspace.org/api/users/admin/login
  response:
    body:
      string: '{"session":"e3ddb552e5fd43221da614145db69c483961130d3b2d62b7aab480171bb66dce","user":{"lock_version":63,"username":"admin","name":"Administrator","is_system_user":true,"create_time":"2021-05-30T08:03:47Z","system_mtime":"2021-05-30T19:47:52Z","user_mtime":"2021-05-30T19:47:52Z","jsonmodel_type":"user","groups":[],"is_admin":true,"uri":"/users/1","agent_record":{"ref":"/agents/people/1"},"permissions":{"/repositories/1":["update_location_record","delete_vocabulary_record","update_subject_record","delete_subject_record","update_agent_record","delete_agent_record","update_vocabulary_record","update_enumeration_record","merge_subject_record","merge_agent_record","update_container_profile_record","update_location_profile_record","administer_system","become_user","cancel_importer_job","cancel_job","create_job","create_repository","delete_archival_record","delete_assessment_record","delete_classification_record","delete_event_record","delete_repository","import_records","index_system","manage_agent_record","manage_assessment_attributes","manage_container_profile_record","manage_container_record","manage_enumeration_record","manage_location_profile_record","manage_rde_templates","manage_repository","manage_subject_record","manage_users","manage_vocabulary_record","mediate_edits","merge_agents_and_subjects","merge_archival_record","suppress_archival_record","transfer_archival_record","transfer_repository","update_accession_record","update_assessment_record","update_classification_record","update_container_record","update_digital_object_record","update_event_record","update_resource_record","view_agent_contact_record","view_all_records","view_repository","view_suppressed"],"_archivesspace":["administer_system","become_user","cancel_importer_job","cancel_job","create_job","create_repository","delete_archival_record","delete_assessment_record","delete_classification_record","delete_event_record","delete_repository","import_records","index_system","manage_agent_record","manage_assessment_attributes","manage_container_profile_record","manage_container_record","manage_enumeration_record","manage_location_profile_record","manage_rde_templates","manage_repository","manage_subject_record","manage_users","manage_vocabulary_record","mediate_edits","merge_agents_and_subjects","merge_archival_record","suppress_archival_record","transfer_archival_record","transfer_repository","update_accession_record","update_assessment_record","update_classification_record","update_container_record","update_digital_object_record","update_event_record","update_resource_record","view_agent_contact_record","view_all_records","view_repository","view_suppressed","update_location_record","delete_vocabulary_record","update_subject_record","delete_subject_record","update_agent_record","delete_agent_record","update_vocabulary_record","update_enumeration_record","merge_subject_record","merge_agent_record","update_container_profile_record","update_location_profile_record"]}}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.archivesspace.org/api/version
  response:
    body:
      string: ArchivesSpace (v3.0.0)
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.archivesspace.org/api/repositories/2
  response:
    body:
      string: '{"lock_version":0,"repo_code":"sdb","name":"sdb test","org_code":"sal
        s centr","parent_institution_name":"parent","created_by":"admin","last_modified_by":"admin","create_time":"2021-05-30T14:16:50Z","system_mtime":"2021-05-30T14:16:50Z","user_mtime":"2021-05-30T14:16:50Z","publish":true,"description":"test
        description","oai_is_disabled":false,"oai_sets_available":"[\"888\",\"889\",\"890\",\"891\",\"892\",\"893\",\"894\",\"895\",\"896\",\"897\",\"898\"]","slug":"sdb","is_slug_auto":false,"country":"IT","jsonmodel_type":"repository","uri":"/repositories/2","display_string":"sdb
        test (sdb)","agent_representation":{"ref":"/agents/corporate_entities/1"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://sandbox.archivesspace.org/api/subjects?all_ids=True&page=1&page_size=100&with_params=all_ids&with_params=modified_since
  response:
    body:
      string: '{"first_page":1,"last_page":1,"this_page":1,"total":0,"results":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
