---
layout: default
---
{% capture object_id %}{{page.id}}{% endcapture %}
{% assign object = site.data.audio[object_id] %}
{% assign breadcrumbs = site.data.breadcrumbs[object_id] %}
{% assign instances = object.instances %}

<div class="col-md-8 offset-md-2">

  <h1 id="asset-title" class="collection title">
    {{ object.display_string }}
    <small>
      {% include avnumber.html %}
    </small>
  </h1>
  {% include av-scopecontent.html %}

  <div class="row">
    <div class="col-md-6 mt-5">
      <audio id="asset" data-type="audio" width="100%" class="mejs__player">
        <source src="{{ site.url }}{{ site.baseurl }}/assets/audio/{{ object_id }}/{{ object_id }}.mp3" type="audio/mp3">
        <p>
          Your browser doesn't support HTML5 audio.
          <a href="{{ site.url }}{{ site.baseurl }}/assets/audio/{{ object_id }}/{{ object_id }}.mp3" download>Download</a> the audio instead.
        </p>
      </audio>
      <div class="row">&nbsp;</div>
      <a class="btn btn-sm btn-primary pull-right" href="{{ site.url }}{{ site.baseurl }}/assets/audio/{{ object_id }}/{{ object_id }}.mp3" id="download" download>Download MP3 <span id="download-details"></span></a>
    </div>

    <div class="col-md-5 offset-md-1">
      {% include av-metadata.html %}
      {% include resource-link.html %}
    </div>

  </div>
</div>

{% include note-to-users.html %}
